%h1
  A little hello to Zineb
  %i.fa.fa-heart
%h2
  %small
    QQ, You can refresh to get a different ASCII art avatar
%hr
%pre
  = Cowsay.say("Hellooooooo Zineb <3")
%br
%br
.row
  .large-6.large-centered.columns
    %a.radius.button.success.expand{ "href"=>"#", "data-reveal-id"=>"ZinebModal" }
      Wanna Shake ?
#ZinebModal.reveal-modal.large{ "data-reveal"=>true, "aria-labelledby"=>"videoModalTitle", "aria-hidden"=>"true", :role=>"dialog" }
  %h2#videoModalTitle
    Shake it off !
  .flex-video.widescreen.vimeo
    %iframe{ "width"=>"1280", "height"=>"720", "src"=>"https://www.youtube.com/embed/nfWlot6h_JM", "frameborder"=>"0", "allowfullscreen"=>true }
  %a.close-reveal-modal{ "aria-label"=>"Close" }
    &#215;
