.reveal
  .slides
    %section
      A little hello to Zineb
      %i.fa.fa-heart
      %hr
        Press right arrow to "QQ"
      %pre.fragment
        = Cowsay.say("QQ")
    %section{ "data-background" => "/assets/orions_belt-wallpaper-1920x1080.jpg", "data-background-transition"=>"zoom" }
      %h2
        Pretty huh ?
    %section
      %iframe{ "width"=>"640", "height"=>"480", "src"=>"https://www.youtube.com/embed/nfWlot6h_JM?wmode=opaque&amp;rel=0&amp;vq=large", "frameborder"=>"0", "allowfullscreen"=>true }