.row.full_width.pretty_image
  .vertical_center.text-center
    .center_text
      .days_left
        22
      .logo
        %span
          %i.fa.fa-heart
      .dream_day_label
        Zineb m'a pécho
