.row.full_width.pretty_image{ "ng-app" => "DreamDaysEditionApp" }
  .vertical_center.text-center{ "ng-controller" => "DreamDaysEditionCtrl" }
    .center_text
      #days_left.days_left{ "type" => "text", "pick-a-date" => "date", "pick-a-date-options" => "options" }
        {{ date }}
      .logo
        %span
          %i#category_logo.fa.fa-heart
      #dream_day_label.dream_day_label{ "contenteditable" => :true, "ng-model" => "label" }
        {{ label }}
